<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Functional.Maybe" version="1.1.1" targetFramework="net452" />
  <package id="Gu.Analyzers" version="0.1.11.25-dev" targetFramework="net452" developmentDependency="true" />
  <package id="Gu.Wpf.Media" version="0.5.0.2" targetFramework="net452" />
  <package id="Mpv.NET" version="0.2.0" targetFramework="net452" />
  <package id="Mpv.WPF" version="0.5.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="WpfAnalyzers" version="0.2.7.10" targetFramework="net452" developmentDependency="true" />
</packages>